/* ------------------- LAYOUT CHUNG ------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.25;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    max-width: 1200px;
}
/* --------------- HẾT LAYOUT CHUNG --------------- */
body{
    /*background-image: url("../images/assignment-js-3-background.jpg");*/
    background-size: cover;

}
.city-select-container{

}
.weather-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weather-card{
    flex-basis: 23%;
    border: 2px solid #0a7bc5;
    border-radius: 5px;
    padding: 20px 0px 20px 20px ;
    margin-bottom: 30px;

    color: white;
    background-color: rgba(0, 0, 0, 0.27);
}
#date-time{
    font-size: 21px;
}
#temp{
    font-size: 36px;
    margin: 20px 0;
}
#desc{
    font-size: 16px;
    margin: 15px 0;
}
.col-container{
    display: flex;
    justify-content: space-between;
}
.col-left{
    flex-basis: 50%;
}
.col-righ{
    flex-basis: 50%;
}
.col-righ img{
    width: 100%;
}