*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 14px;
    line-height: 1.25;
    background-color: #ffffff;
    font-family: 'Joan', serif;
}
img{
    max-width: 100%;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 10px;
    margin: 0 auto;
}
.number1{
    box-shadow: #b7c0c9;
}